.container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('Stroke.png');
  background-repeat: no-repeat;
  align-items: center;
  min-height: 50vh;
  min-width:44%;
}
